body{
  font-size: 18px;
  line-height: 1.5;
  background-color: grey;
}

header, nav, main, footer{
  margin: 1.25rem auto;
  max-width: 760px;
}

header, footer{
  background-color: #ffe8d6;
  color: #000;
  text-align: center;
  padding: 1.5rem;
}
header img {
  float: right;
  margin: 10px;
  border: 1px solid #000;
}


nav{
  color:
}