body {
  font-family: 'Uchen', serif;
  font-size: 16px;
  padding: 25px;
  
}

header,
footer,
nav {
  background-color: #023047;
  color: #fb8500;
}

header,
nav,
main,
footer {
  margin: auto;
  max-width: 360px;
  padding: 5px;
}

footer a {
  color: #fb8500;
}

header {
  font-size: 20px;
}

header img {
  max-width: 150px;
  float: left;
}

header,
nav,
footer {
  text-align: center;
}

nav {
  background-color: #8ecae6;
  color: black;
  text-decoration: none;
}


nav ul {
  display: block;
  padding: 0.8rem 2%;
  text-decoration: none;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 14px;
}

nav ul li a:visited {
  background-color: #555;
}

nav ul li a:hover {
  background-color: #219ebc;
}

nav ul li a:active {
  background: #ffb703;
}

.navigation li {
  list-style: none;
}

.responsive li {
  display: block;
}
.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

/* .herodiv img:nth-child(1){
  float: left;
  border: 2px solid black;
  max-width: 360px; 
  width: 25%;
} */

.weathersummary {
   border: 1px solid black;
  text-align: center;
  color: black;
  font-size:16px;
  margin: 20px;
 }

 .weathersummary {
   background-image: url(../images/roundbales960.jpg);
    background-repeat: no-repeat;
   background-size: cover;
 }

.forecast {
  display: none;
}

.starsinfo div {
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}

.join {
  text-align: center;
}

.contact p {
  margin: 0;
}

.thanks {
  text-align: center;
  font-size: 16px;
}

.container1 {
  margin-top: 20px;
}

fieldset {
  background: #8ecae6;
}

.submitBtn {
  background: #fb8500;
  padding: 10px;
  font-size: 20px;
  margin: 20px;
}

section.contactus {
  border: 1px solid black;
  text-align: center;
  background: #8ecae6;
  padding: 20px;
  margin-top: 20px;
}

section.contactus p,
h2 {
  margin: 0;
}

.form2 {
  text-align: center;
  margin-bottom: 20px;
}

div.map {
  border: 1px solid black;
}

iframe.map {
  width: 100%;
}

.members {
  display: block;
  margin: 10px;
}

.member {
  text-align: center;
  background: #8ecae6;
  border: 1px solid black;
  padding-top: 20px;
}

.member img {
  border: 5px solid #ffb703;
  text-align: center;
}

h2.members {
  text-align: center;
}

section.member h4,
p {
  margin: 0;
}

.cards {
  display: block;
  text-align: center;

}

.cards section {
  border: 2px solid #023047;
  border-radius: 10px;
  word-wrap: break-word;
  font-size: 12px;
  /* padding: 10px; */
  background: #ffb703;

}

.cards section img {
  max-width: 75px;
}

/* .icons{
  display: none;
} */

#cta {
  background: #8ecae6;
  font-size:16px;
  padding: 10px;
  font-weight: bold;
  border-radius: 25px;
}
.button{
  float: right;
}

.logo{
  max-width: 60px;
  margin: 10px;
}
.hero-ph img{
  margin: 0;
  width: 100%;
  padding: 10px;
 
}
.purpose {
border: 1px solid black;
padding: 20px;
background: #ffb703;

}

.stars div {
  display: block;
  border-radius: 25px;
   } 
.starsinfo div{
  display: block;
  text-align: center;
  } 

.starsinfo div:nth-child(1){
    background-image: url(../images/desk.jpg);
     background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.starsinfo div:nth-child(2){
    background-image: url(../images/spine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.starsinfo div:nth-child(3){
    background-image: url(../images/tires.jpg);
     background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    color: white;
}

/* MEDIUM  */
/* MEDIUM  */
/* MEDIUM  */
/* MEDIUM  */


@media only screen and (min-width: 35em) {

  header,
  nav,
  main,
  footer {
    margin: auto;
    max-width: 560px;
    padding: 5px;
  }

  .thanks {
    font-size: 40px;
  }

  .members {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    padding: 10px;

  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .cards section {
    font-size: 14px;
    width: 100%;

  }

  .icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }

  .fa {
    font-size: 25px;
    cursor: pointer;
    color: #fff;
  }

  .fa:hover {
    color: black;
    transition: .4s;
  }

#cta {
  font-size: 30px;
}

.purpose {
  border: 1px solid black;
  padding: 20px;
 
  }
  .forecast {
    display: grid;
    background: #fb8500;
    border: 1px solid black;
    text-align: center;
    padding: 0.5rem;
    max-width: 33%;
   margin: 0 auto 0 auto;
   padding: 20px;
  }
  .logo{
    max-width: 80px;
    margin: 15px;
  }

}

/* LARGE */
/* LARGE */
/* LARGE */
/* LARGE */
/* LARGE */
/* LARGE */

@media only screen and (min-width: 64rem) {

  header,
  nav,
  main,
  footer {
    margin: auto;
    max-width: 960px;
    padding: 5px;
  }

  header {
    font-size: 30px;
  }

  .navigation li:nth-child(1) {
    display: none;
  }

  .navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  nav ul li:last-child a {
    border: none;
  }
  .navigation li {
    display: block;
  }

  .thanks {
    font-size: 50px;
  }

  .members {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #cta {
    font-size: 40px;
  }
  .herodiv{
    margin: 25px;
   
  }
  .hero-ph img{
    width: 100%;
  }

 .stars div{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   }
 
.starsinfo div{
  display: block;
}
.logo{
  max-width: 100px;
  margin: 25px;
}


}