@media only screen and (min-width: 992em){

  body {
    font-size: "open sans", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    background-color: #caf0f78;
  
  }
  header,
  footer {
     background-color: 023E8A;
     text-align: center;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  section header #hickslaw, #ruleofthirds, #repetition {
    background-color: 0096C7;
            
  }
  img {
    float: center;
  }
  section #hickslaw{

  }
  section #ruleofthirds{
  
  }
  section #repetition{
  
  }
  
  
}