@media only screen and (min-width: 35em) {

  header,
  main,
  nav,
  footer {
    max-width: 560px;
  }

  header img {
    width: 100px;
  }


  nav ul {
    margin-left: 2%;
  }

  nav ul li {
    float: left;
  }


  nav ul li a {
    border: none;
    padding: .8rem 1rem;
  }



}