body {
  font-family: "Oswald", sans-serif;
  padding: 25px;
  text-align: center;
  background: #ede0d4;
}

header,
footer {
  background: #b08968;
  max-width: 100%;
  padding: 5px;
  font-size: 20px;
  margin: auto;
  text-align: center;
}

.cards {
  display: block;
}

section {
  background: #e6ccb2;
  border: 1px solid #9c6644;
  align-content: center;
  margin: 5px;
}

section img {
  /* max-width: 1fr; */
  padding: 25px;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 15px;
}

p {
  margin: 0;
  font-weight: bold;
}

@media only screen and (min-width: 35em) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-template-rows: auto;
  }
}

@media only screen and (min-width: 64rem) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
  }

  header {
    font-size: 30px;
  }
}
