body {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  background-color: honeydew;
  padding: 25px;
}

div.banner {
  text-align: center;
  background: #e63946;
  max-width: 100%;
  font-size: 20px;
  color: #000;

}

header,
nav,
main,
footer {
  margin: auto;
  max-width: 360px;
}

header,
nav,
footer {
  background-color: #457b9d;
  text-decoration: none;
}

header {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 40px;
  padding: 20px;
  padding-bottom: 5px;
}

header,
nav,
footer {
  text-align: center;
}

header h1 {
  font-size: 25px;
}

header img {
  float: left;
  width: 100px;
}

nav {
  background-color: #a8dadc;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  clear: left;
}


nav ul {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2%;
  text-decoration: none;
  color: #000;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li a:visited {
  background-color: grey;
}

nav ul li a:hover {
  background-color: #1d3557;
  color: honeydew;
}

nav ul li a:active {
  background: #e63946;
}


/*
nav ul li.hide {
  display: block;
}*/
.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.responsive li {
  display: block;
}

/* .heroimg {
  display:block;
  position: relative;
  margin: 10px auto ;
  border: 1px solid black;
  width: 100%;
  height: auto;
} */
.herodiv {
  position: relative;

  border: 1px solid black;
  max-width: 360px;
  height: auto;


}

.hero-ph {
  /* display: block; */
  width: 100%;
  height: 100%;

}


.sweathersummary,
.pweathersummary,
.fweathersummary {

  background: radial-gradient(#a8dadc, #457B9d);
  border: 1px solid black;
  font-weight: bold;
  text-align: center;
  padding: 0.5rem;
}

.pweathersummary #picon {
  max-width: 75px;
}

.fweathersummary #ficon {
  max-width: 75px;
}

.sweathersummary #sicon {
  max-width: 75px;
}


.pforecast,
section.article, 
.sforecast,
section.article, 
.fforecast,
section.article {
  border: 1px solid #1d3557;
  padding: 20px;
 
}

.pforecast h2, 
.sforecast h2, 
.fforecast h2 {
  background-color: #a8dadc;
  font-size: 25px;
  padding: 25px;
  text-align: center;
}

.article h2 {
  text-align: center;
  ;

}

.article img {
  width: 100%;
  padding: 10px;
}



.gallery {
  display: grid;
  width: 100%;
  grid-gap: 25px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

}
div.gallery figure{
  border: 1px solid black;
  padding: 25px;
  background: linear-gradient(#457b9d, #a8dadc, #457b9d);
}

/* .gallery  {
  filter:blur(0em);
  transition:filter 2s;
} */
/* .gallery img[data-src]{
  filter:blur(1em);
} */

/* ----------------------FOOTER------------------ */

footer {
  font-size: 20px;
}

footer a {
  color: black;
}

footer a:hover {
  background-color: #1d3557;
  color: honeydew;
}

footer img {
  width: 360px;
  align-self: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  color: white;
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}


/* ------------STORM CENTER---------------- */
/* 
.slider:hover {
  opacity: 1;
 
} */

form fieldset {
  margin: 2rem 0;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2rem 2rem;
  background: linear-gradient(#a8dadc, #457b9d);

}

form fieldset.storm {
  background: linear-gradient(#457b9d, #a8dadc);
}


form legend {
  margin: 0 1rem;
  padding: 0 .5rem;
  background: linear-gradient(#457b9d, #a8dadc, #457b9d);
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px;
}


form label.info,
form div {
  display: block;
  padding-top: 1rem;
  /* font-size: .8rem; */

}

form label.info input,
form label.info select {
  display: block;
  border: dotted 1px #999;
  border-radius: 5px;
  padding: .75rem;
  width: 96%;
  max-width: 20rem;

}


form label.storm {
  display: block;
  padding: .75rem 0;

}

form input.submitBtn {
  background: linear-gradient(#457b9d, #a8dadc, #457b9d);
  border: none;
  border-radius: 5px;
  padding: .75rem 1.5rem;
  /* margin: 0 0 2rem 2%; */
  width: 96%;
  max-width: 20rem;
  font-weight: bold;
  font-size: 1rem;
}

form label.info input:required {
  border-left: red solid 4px;
}

form label.info input:required:valid {
  border-left: green solid 4px;
}

img.wireframe {
  width: 100%;
}

main.wireframe {
  text-align: center;
  font-size: 20px;
  ;
}

p.wireframe {
  background: linear-gradient(#457b9d, #a8dadc, #457b9d);
  padding: 10px;
}

section {
  border: 1px solid black;
}

section article {
  margin: 10px;
  line-height: 1.5rem;
  text-align: left;
  text-indent: 2rem;
  padding: 20px;
  margin-top: 30px;
}

section.home h2,
section.home p,
section.home a {
  text-align: center;
  color: #000;
}

.cards img {
  border: 2px solid grey;
  box-shadow: 5px 5px 15px 5px #1d3557;
}

#icon {
  max-width: 70px;
}

#imagesrc {
  font-size: 12px;
  word-wrap: break-word;
}

.pforecast,
.sforecast,
.fforecast {
  border: 1px solid black;

}

div.pforecast,
div.fforecast,
div.sforecast {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
}

div.pforecast table,
div.sforecast table,
div.fforecast table {
  border-collapse: collapse;
  margin: 0;
}

div.pforecast 
th,
td {
  text-align: center;
  font-size: 15px;
  border-right: 1px solid black;
  margin: 0;
}

div.fforecast h2,
th,
td {
  text-align: center;
  font-size: 15px;
  border-right: 1px solid black;
  margin: 0;
}

div.sforecast h2,
th,
td {
  text-align: center;
  font-size: 15px;
  border-right: 1px solid black;
  margin: 0;
}

div.fforecast h2, th, td :nth-child(4) {
    border-right: none;
}

div.fforecast .last{
  border-right: none;
}
 div.pforecast h2, th, td :nth-child(4) {
    border-right: none;
 } 

div.pforecast .last{
  border-right: none;
}
div.sforecast h2, th, td :nth-child(4) {
    border-right: none;
}

div.sforecast .last{
  border-right: none;
}


div.pforecast h2,
div.fforecast h2,
div.sforecast h2 {
  background-color: #a8dadc;
  padding: 15px;

}
.events {
  text-align: center;
  padding: 20px;
  background: linear-gradient(#457b9d, #a8dadc, #457b9d);
  font-size: 20px;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}




/* MED CSS */

@media only screen and (min-width: 35em) {

  header,
  main,
  nav,
  footer {
    max-width: 560px;
  }

  header img {
    width: 100px;
  }

  nav ul {
    margin-left: 2%;
  }

  nav ul li a {
    border: none;
    padding: 0.8rem 1rem;
    color: #000;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }

  .herodiv {
    max-width: 560px;
    text-align: left;
  }


  .hero-ph {
    width: 100%;
    height: 100%;
  }


  .pweathersummary,
  .fweathersummary,
  .sweathersummary {

    top: 30px;
    padding: 0.75rem;
  }

  .article img {
    float: right;
    width: 50%;


  }

  .gallery {
    display: grid;
    grid-auto-flow: dense;
    width: 100%;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

  }

  main.wireframe {

    font-size: 24px;
    ;
  }

  .oddgrid,
  .evengrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
  }

  .evengrid img {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .hero2 img {
    width: 100%;

  }

  /* Clearfix (clear floats) */
  /* .row::after {
    content: "";
    clear: both;
    display: table;
  } */

  div.pforecast h2,
  th,
  td {
    font-size: 25px;
  }
  div.fforecast h2,
  th,
  td {
    font-size: 25px;
  }
  div.sforecast h2,
  th,
  td {
    font-size: 25px;
  }

}







/* Large CSS  */
@media only screen and (min-width: 64rem) {

  header,
  main,
  nav,
  footer {
    padding: 20px;
    max-width: 960px;
  }

  header img {
    width: 125px;
    padding-bottom: 20px;
  }

  /* nav {
    margin-top: 10px;
  } */

  /* nav button {
    display: none;
  } */

  nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .ham {
    display: none;
  }

  nav ul li {
    flex: 1 1 100%;
  }

  nav ul li a {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.6rem 1rem;
    border-top: none;
  }

  nav ul li:last-child a {
    border: none;
  }

  .navigation li {
    display: block;
  }



  .herodiv {
    max-width: 960px;
  }


  .pweathersummary,
  .fweathersummary,
  .sweathersummary {
    position: absolute;
    top: 40px;
    left: 40px;

    border: 1px solid black;
    padding: 1rem;

  }

  .gallery {
    display: grid;
    grid-auto-flow: dense;
    width: 100%;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

  }

  .gallery figure:hover {
    box-shadow: 20px 20px 20px 20px grey;
  }

  /* STORM CENTER */

  form label.storm {
    padding: .4rem 0;
  }


  form input.submitBtn {
    font-size: 1.5rem;
  }

  label.storm option:nth-child(1) {
    display: none;
  }

  .info {
    max-width: 460px;
  }

  /* home page */
  .oddgrid,
  .evengrid {
    display: block;
    text-align: center;
  }

  section.home {
    width: 100%;
  }

  div.pforecast h2,
  th,
  td {

    font-size: 30px;

  }
  div.fforecast h2,
  th,
  td {

    font-size: 30px;

  }
  div.sforecast h2,
  th,
  td {

    font-size: 30px;

  }


}