@media only screen and (min_width: 37.5em) {
  header,
  nav,
  main,
  footer {
    margin: 1em auto;
    max-width: 760px;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .purpose {
    grid-column: span 2;
    grid-row: 1;
  }

 .domain {
    grid-column: span 2;
    grid-row: 2;
  }

 .logo {
    grid-column: span 2;
    grid-row: 3;
  }

 .primarySecondary {
    grid-column: span 2;
    grid-row: 1;
  }

  .details {
    grid-column: span 2;
    grid-row: 2;
  }
}
